# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.obj
*.lib
*.pdb
*.exp
*.tlog
*.lastbuildstate
*.idb
*.ipch
*.res
*.pch
*.iobj
*.ipdb
*.log
*.tmp
*.temp
Debug/
Release/
x64/
Win32/
bin/
obj/
*.filters.vcxproj
vcxproj.hits.txt
filters_hits.txt
ms.txt
regions_find.txt
packages/
